body{
	width: auto;
	background-color: black;
}
nav{
	background-color: black;
	height: 40px;
		border: solid;
	border-color: white;
border-width: 1px;
}
#n{
	margin-top: 10px;
	display: block;
}
ul,li {margin: 0;
		padding: 0;
}
ul{list-style: none;
width: 100%;}
li{
	float: left;
	width: auto;
}
a {
	color: white;
    background-color: none;
    font: bold 15px sans-serif;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
#u{
		margin-left: 250px;
		margin-top: -7px;
	}
content{
	background-color:black ;

	float:right;
	width: 75%;
	height: 650px;
}
#sidebar{ background-color: black;
float: left; 
width: 25%;
height: 650px;
}
@media all and (max-width: 1200px){
	body{
		width: 960px;
	}
}
@media all and (max-width: 480px){
	body{
		width: 320px;
	}
}