body{position:fixed ;
background-color: black;
background-repeat: no-repeat;
background-size: cover;
}
	::-webkit-scrollbar{
		width: 15px;
}

::-webkit-scrollbar-track{
	background: #dddddd;
}
::-webkit-scrollbar-thumb{
	background: black;

}
#me{
	float: right;
}
#ser{
	margin-left: 1150px;
margin-top: 15%;
}

#cin{
margin-top: 2%;
float: left;
}
li
{
	color: white;
	margin-left: 40%;
}

ul {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 900px;
	height: 900px;
	margin-top: -140px;
	margin-left: -800px;
}
#s {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 900px;
	height: 900px;
	margin-top: -340px;
	margin-left: -800px;
}

#z {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 900px;
	height: 900px;
	margin-top: 0px;
	margin-left: -100px;
}


li {
	 list-style-type: none;
  float: none;
}


